<%= form_for(@proceeding) do |f| %>
  <% if @proceeding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proceeding.errors.count, "error") %> prohibited this proceeding from being saved:</h2>

      <ul>
      <% @proceeding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :roundtrial_id %><br>
    <%= f.number_field :roundtrial_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_import %><br>
    <%= f.datetime_field :last_import %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
